<h1>Scratch Pads</h1>



    <% @scratchpads.each do |scratchpad| %>
        <td><%= scratchpad.title %></td>
        <td><%= scratchpad.body %></td>
        <td><%= link_to 'Show', scratchpad %></td>
        <td><%= link_to 'Edit', edit_scratchpad_path(scratchpad) %></td>
        <td><%= link_to 'Destroy', scratchpad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>


<br>
