<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @label.topic_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @label.post_id %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
